version: "3.9"

services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile
      target: development

    container_name: expensetracker-api

    ports:
      - "3000:3000"
      - "9229:9229"

    environment:
      NODE_ENV: development

      DATABASE_URL: postgresql://neondb_owner:npg_ZSMV1EnIlDf8@ep-wispy-dream-agsczimm-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require

      JWT_SECRET: ${JWT_SECRET}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN:-15m}
      JWT_REFRESH_EXPIRES_IN: ${JWT_REFRESH_EXPIRES_IN:-7d}

    volumes:
      - .:/app
      - /app/node_modules

    command: npm run dev
    restart: unless-stopped
